.w-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #292C33;
  cursor: pointer;
  transition: background-color 0.1s;
}
.w-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.w-list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.w-list .avatar,
.w-list .name {
  vertical-align: middle;
}
.w-list .avatar {
  border-radius: 2px;
  background-color: #f5f6f7;
}
.w-list .name {
  display: inline-block;
  margin: 0 0 0 15px;
}