::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-thumb {
  outline-offset: -1px;
  background-color: rgba(123,123,123, .5);
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(123,123,123, .75);
  -webkit-border-radius: 3px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body, ul {
  margin: 0;
  padding: 0;
}
body {
  color: #4d4d4d;
  font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
  font-smoothing: antialiased;
  background-color: #17181C;
}
ul {
  list-style: none;
}
#chat {
  margin: 20px auto;
  width: 800px;
  height: 600px;
}
#chat {
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  z-index: 2;
}
#chat .sidebar,
#chat .main {
  height: 100%;
}
#chat .sidebar {
  float: left;
  width: 200px;
  color: #f4f4f4;
  background-color: rgba(46, 50, 56, 0.55);
}
#chat .main {
  position: relative;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.55);
}
#chat .w-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
#chat .w-message {
  height: calc(100% - 160px);
}
